{
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 6
    },
    "rules": {
        "indent": ["error", 2],
        "quotes": ["error", "double"],
        "semi": ["error", "always"],
        "no-unused-vars": ["error"],
        "no-console": "off", // turn off 'no-console' rule
        "eqeqeq": ["error"],
        "curly": ["error"],
        "camelcase": ["error"],
        "no-trailing-spaces": ["error"],
        "eol-last": ["error", "always"],
        "import/no-unresolved": "off"
    }
}